@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

/* header start */
header {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  background: rgba(4, 4, 4, 0.73);
  z-index: 9999;
}

header.sticky {
  padding: 5px 0;
  background-color: rgb(20, 20, 20);
  transition: 0.6s;
}

header.sticky .logo img {
  display: none;
}

header.sticky .logo p {
  font-weight: 200;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
}

header .logo img {
  width: 50px;
  height: 50px;
}
header .logo p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

header nav {
  padding-right: 60px;
}
header nav ul {
  margin: 0;
  display: flex;
  gap: 0 80px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
  font-weight: 200;
}

nav ul li a:hover {
  color: rgba(0, 230, 0, 1);
}

main,
.beranda {
  background-color: #272727;
}

/* visi misi */
.visimisi {
  display: flex;
  background-color: #272727;
  padding-top: 50px;
}

.visimisi .visimisi-kiri {
  width: 50%;
  padding: 150px 50px 56px 50px;
  text-align: center;
  color: #fff;
}

.visimisi .visimisi-kiri h4 {
  font-size: 40px;
  font-weight: 200;
}

.visimisi .visimisi-kiri p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

.visimisi .visimisi-kiri ol {
  margin-left: 30px;
  text-align: left;
}

.visimisi .visimisi-kiri ol {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
}

.visimisi .visimisi-kanan {
  padding: 56px 0;
  background: url(../img/Background/scattered-forcefields.svg);
  width: 50%;
}

/* visi misi end */

/* Fasilitas */
.fasilitas {
  display: flex;
  padding-top: 50px;
  background-color: #272727;
}
.fasilitas-kiri {
  width: 62%;
  background-color: #272727;
  padding: 10px 0;
}

.fasilitas-kiri .fasilitas-heading h2 {
  padding: 32px 0;
  padding-left: 52px;
  color: #fff;
  background-color: #454545;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 30px;
}

.fasilitas-kiri .fasilitas-cnt-img {
  padding-left: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.fasilitas-kanan {
  margin-top: 12px;
  width: 38%;
  padding-top: 78px;
  background-color: #272727;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='531' height='442.5' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.fasilitas-kanan ul li {
  margin: 50px 0;
  margin-left: 30%;
}

.fasilitas-kanan ul li a {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: 100;
  text-decoration: none;
}

.fasilitas-kanan ul li a:hover {
  color: rgba(0, 230, 0, 1);
  transition: 0.3s;
  text-decoration: underline;
}
/* Fasilitas  End*/

/* Aside */
aside {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 300px 20px;
  background-color: #272727;
  text-align: center;
}
aside .content {
  padding: 50px;
  background-color: rgba(221, 221, 221, 0.055);
  border-radius: 20px;
}
aside .content a {
  text-decoration: none;
  color: #fff;
}
aside .content a img {
  width: 200px;
}

aside .content a p {
  margin-top: 20px;
  font-size: 26px;
}

aside .content:hover {
  background-color: rgba(221, 221, 221, 0.363);
  border-radius: 20px;
  transition: 0.5s;
}
/* Aside End */

/* Footer main Page */
.ft-beranda {
  background-color: rgb(54, 54, 54);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 100px 20px 50px;
  text-align: left;
}
.ft-beranda .data-sekolah > * {
  margin: 0;
  padding: 0;
}

.ft-beranda .data-sekolah h3 {
  font-size: 20px;
  font-weight: 200;
}

.ft-beranda .data-sekolah h4 {
  font-weight: 200;
  margin-bottom: 20px;
}

.ft-beranda .data-sekolah p {
  font-weight: 200;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.ft-beranda .sosmed {
  width: 160px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.ft-beranda .sosmed a {
  text-decoration: none;
}
.ft-beranda .sosmed img {
  width: 40px;
  height: 40px;
}

.ft-beranda .sosmed img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/* Footer main Page End*/

/* Profil Page */
.profil {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.52) 5.98%, rgba(202, 202, 202) 49.42%, rgba(54, 54, 54, 0.52) 100%);
}

.profil .profil-cnt {
  width: 70%;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 150px;
  text-align: center;
}

.profil .profil-cnt h2 {
  font-size: 30px;
  font-weight: 400;
}
.profil .profil-cnt p {
  margin-top: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.profil .profil-cnt ul {
  margin-top: 20px;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 200;
}

.profil .profil-cnt img {
  width: 100%;
}
/* Profil Page End */

/* Prestai Page */
.cnt-prestasi {
  padding-top: 150px;
  background: url(../img/Prestasi/piala3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.cnt-prestasi h2 {
  padding: 10px 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.cnt-prestasi table {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.cnt-prestasi .cnt-prestasi-table table tbody {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
}

.cnt-prestasi table th,
td {
  padding: 10px 15px;
}
.cnt-prestasi th,
td {
  border: 1px solid rgba(0, 0, 0, 0.575);
}
/* Prestai Page End*/

/* Galeri page */
.cnt-galeri {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.6' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%235AFF0D'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%235AFF0D'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(31.9) translate(-968.65 -726.49)'%3E%3Cg fill='%235AFF0D'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-size: contain;
}
.cnt-img-galeri {
  width: 1000px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 150px;
  display: grid;
  grid-template-areas:
    'satu satu dua dua'
    'satu satu tiga empat'
    'lima enam tujuh tujuh'
    'delapan delapan delapan sembilan'
    'delapan delapan delapan sepuluh';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
}
.img1 {
  grid-area: satu;
  height: 500px;
  width: 500px;
}
.img2 {
  grid-area: dua;
  height: 250px;
  width: 500px;
}
.img3 {
  grid-area: tiga;
  height: 250px;
  height: 250px;
}
.img4 {
  grid-area: lima;
  height: 250px;
  width: 250px;
}
.img5 {
  grid-area: empat;
  height: 250px;
  width: 250px;
}
.img6 {
  grid-area: sepuluh;
  height: 250px;
  width: 250px;
}
.img7 {
  grid-area: tujuh;
  height: 250px;
  width: 500px;
}
.img8 {
  grid-area: delapan;
  height: 500px;
  width: 750px;
}
.img9 {
  grid-area: sembilan;
  height: 250px;
  width: 250px;
}
.img10 {
  grid-area: enam;
  height: 250px;
  width: 250px;
}
.cnt-galeri .img:hover {
  transform: scale(102%);
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Galeri Page End */

/* Guru & Staff Page */
.gurustaff {
  min-height: 1000px;
  background-size: cover;
}
.cnt-gurustaff {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 50px 10px;
}
.cnt-gurustaff .cnt-gurustaff-img img {
  width: 200px;
  height: 250px;
}
.cnt-gurustaff .cnt-gurustaff-img p {
  margin-top: 2px;
  color: #fff;
}

.cnt-gurustaff .cnt-gurust .cnt-gurustaff .cnt-gurust .cnt-extra {
  padding: 150px 50px;
}
/* Guru & Staff Page End */

/* Extrakurikuler Page */
.cnt-extra {
  padding: 100px 50px;
  background-color: #272727;
}

.cnt-extra .cnt-extra-img {
  display: flex;
  gap: 50px;
  width: 700px;
  margin: 20px 150px;
  padding: 20px 10px;
  background-color: rgba(0, 230, 0, 1);
  background: url(../img/Background/spectrum-gradient.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.cnt-extra .cnt-extra-img img {
  width: 250px;
  height: 250px;
}

.cnt-extra .cnt-extra-img .cnt-extra-img-text > * {
  margin-top: 10px;
  color: #fff;
  font-weight: 200;
}
/* Extrakurikuler Page End*/

footer {
  background-color: rgb(54, 54, 54);
  padding: 20px 0;
  color: #ddd;
  text-align: center;
}

/* Responsive Breakpoint */
/*  */
@media screen and (min-width: 2000px) {
  body {
    width: 100%;
    background-color: #272727;
  }

  header {
    position: inherit;
  }

  .visimisi {
    width: 2000px;
    margin: 0 auto;
    background-color: #272727;
  }

  .beranda {
    background-color: #272727;
  }

  .fasilitas {
    width: 80%;
    margin: 0 auto;
  }

  .fasilitas .fasilitas-kiri {
    width: 50%;
  }
}

@media screen and (max-width: 1500px) {
  body {
    overflow-x: hidden;
  }

  header .logo {
    padding-left: 10px;
  }

  header .logo img {
    width: 40px;
    height: 40px;
  }

  .fasilitas-kiri .fasilitas-cnt-img .lapbasket,
  .taman {
    width: 59.9%;
  }
  .fasilitas-kiri .fasilitas-cnt-img .perpus {
    display: none;
  }
  .fasilitas-kiri .fasilitas-cnt-img .asrama,
  .labkomputer {
    width: 38%;
  }

  .fasilitas-kiri .fasilitas-cnt-img .labipa,
  .kantin {
    width: 49%;
    height: 300px;
  }
}

@media screen and (max-width: 1300px) {
  header .logo img {
    width: 30px;
    height: 30px;
  }

  header .logo p {
    font-size: 14px;
  }

  header nav {
    padding-right: 40px;
  }

  header nav ul {
    gap: 40px;
  }

  nav ul li a {
    font-size: 12px;
  }

  .visimisi .visimisi-kiri h4,
  .visimisi .visimisi-kiri p,
  .visimisi .visimisi-kiri ol {
    font-size: 4vh;
  }

  .fasilitas .fasilitas-kanan ul li a {
    font-size: 24px;
  }

  aside {
    padding: 200px 50px;
  }

  aside .content {
    padding: 30px;
  }

  aside .content a img {
    width: 70%;
  }

  .ft-beranda .data-sekolah {
  }

  .ft-beranda .data-sekolah p {
    font-size: 1vw;
  }

  .ft-beranda .data-sekolah h3,
  .ft-beranda .data-sekolah h4 {
    font-size: 2vw;
  }

  .map iframe {
    width: 300px;
    height: 200px;
  }

  .ft-beranda .sosmed a img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
  }
}
/* Responsive Breakpoint End */

/* input */

.cnt-input {
  background-color: #272727;
  background: url(../img/Background/endless-constellation.svg);
}

.cnt-input h2 {
  padding: 20px 0;
  color: #fff;
  text-align: center;
  background-color: #454545;
}

.cnt-input .col-5 {
  color: #fff;
}
/* input End */
