* {
  margin: 0;
  padding: 0;
  font-family: outfit;
}

body {
  background-color: lime;
}

.container {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
}

/* slider start */
.slider {
  width: 1080px;
  height: 500px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slides img {
  width: 1080px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 1080px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.514);
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: lime;
  transition: 1s;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
/* slider end */

/* header start */
header {
  position: absolute;
  background-color: #15ff009c;
  width: 1040px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 6px;
  border-radius: 20px;
  top: -10px;
  margin-left: 10px;
}

header .logo {
  float: left;
  margin-left: 16px;
}

header .logo img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
}

header .logo p {
  width: 250px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  float: right;
  cursor: default;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  float: left;
  width: 100px;
  margin-top: 14px;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

header nav ul li a:hover {
  color: gold;
}
/* header end */

/* main Beranda */
.visimisi {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 50px;
  margin: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.visimisi .misi {
  width: 45%;
}

.visimisi .visi {
  width: 45%;
}
.visimisi .misi ol li {
  text-align: left;
}

.cnt-fasilitas {
  width: 99%;
  margin: 0 auto;
  background-color: rgba(221, 221, 221, 0.363);
  border-radius: 10px;
}

.cnt-fasilitas .top {
  padding: 10px 0;
  text-align: center;
  background-color: #ddd;
  border-radius: 10px;
}

.cnt-fasilitas .img-fasilitas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
}

.cnt-fasilitas .cnt-img {
  padding: 10px 0;
}

.cnt-fasilitas .img-fasilitas .cnt-img img {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

aside {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  text-align: center;
}

aside .content {
  margin-top: 50px;
  padding: 50px;
}

aside .content a {
  text-decoration: none;
  color: #000;
}

aside .content a img {
  width: 200px;
}

aside .content a p {
  margin-top: 20px;
  font-size: 26px;
}

aside .content:hover {
  background-color: rgba(221, 221, 221, 0.363);
  border-radius: 20px;
  transition: 1s;
}
/* end main beranda */

/* footer Beranda */
footer {
  background-color: rgb(54, 54, 54);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
}

footer .data-sekolah > * {
  margin: 10px 0;
}

footer .data-sekolah p {
  font-size: 14px;
  border-top: 1px solid #fff;
}

footer .sosmed {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

footer .sosmed a {
  text-decoration: none;
}

footer .sosmed img {
  width: 30px;
  height: 30px;
}
/* footer Beranda end*/

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
